<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="css/movie.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div id="top">
    <div class="top_main">
        <div class="top_main_left">
            <p>欢迎来到迅影网，一起分享电影给我们带来的快乐。</p>
        </div>

    </div>
</div>
<header>
    <div class="search">
        <form action="" method="post">
            <input type="search" name="search" placeholder="请输入电影名字">
            <input type="submit" name="anniu" value="搜索">
        </form>

    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-1-5 col-sm-4 col-xs-6 movie-item">
            <div class="movie-item-in">
                <a style="position:relative;display:block;" title="冲天火" target="_blank"
                   href="http://www.saaee.com/movie/200881.html">
                    <img alt="冲天火" title="冲天火" src="http://wx4.sinaimg.cn/mw690/0062xRKhgy1fc2huab0o1j30bx0gojve.jpg">
                    <span class="qtag hdtag">高清</span>
                    <div class="item-hover"></div>
                </a>
                <div class="meta">
                    <h1>
                        <a href="http://www.saaee.com/movie/200881.html" target="_blank" title="冲天火">冲天火</a>
                        <em> - 3.8分</em>
                    </h1>
                    <div class="otherinfo">
                        类型：
                        <a class="movietype" target="_blank" href="/movie/?tag=%E5%8A%A8%E4%BD%9C">动作</a>
                        <a class="movietype" target="_blank" href="/movie/?tag=%E6%82%AC%E7%96%91">悬疑</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1-5 col-sm-4 col-xs-6 movie-item">
            <div class="movie-item-in">
                <a style="position:relative;display:block;" title="冲天火" target="_blank"
                   href="http://www.saaee.com/movie/200881.html">
                    <img alt="冲天火" title="冲天火" src="http://wx4.sinaimg.cn/mw690/0062xRKhgy1fc2huab0o1j30bx0gojve.jpg">
                    <span class="qtag hdtag">高清</span>
                    <div class="item-hover"></div>
                </a>
                <div class="meta">
                    <h1>
                        <a href="http://www.saaee.com/movie/200881.html" target="_blank" title="冲天火">冲天火</a>
                        <em> - 3.8分</em>
                    </h1>
                    <div class="otherinfo">
                        类型：
                        <a class="movietype" target="_blank" href="/movie/?tag=%E5%8A%A8%E4%BD%9C">动作</a>
                        <a class="movietype" target="_blank" href="/movie/?tag=%E6%82%AC%E7%96%91">悬疑</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 分页 -->
<div class="pager-bg">
    <ul class="pagination pagination-sm">
        <li class="active">
            <a>1</a>
        </li>
        <li>
            <a href="/movie/?page=2" data-ci-pagination-page="2">2</a>
        </li>
        <li>
            <a href="/movie/?page=2" data-ci-pagination-page="3">3</a>
        </li>
        <li>
            <a href="/movie/?page=2" data-ci-pagination-page="2" rel="next">下一页</a>
        </li>
        <li>
            <a href="/movie/?page=2222" data-ci-pagination-page="2222">末页</a>
        </li>
    </ul>
</div>
</div>
<footer>
    <div class="foot">
        <p>
            免责声明：本网站所有内容都是靠程序在互联网上自动搜集而来，仅供测试和学习交流。

        <p>若侵犯了您的权益，请发邮件通知，邮箱：870439570@qq.com</p>
        <p class="friend-link">
            友情链接：
            <a target="_blank" href="http://www.id97.com/">97电影网</a>
        </p>

    </div>
</footer>
</body>
</html>